.testi {
  &-heading p {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: var(--features-heading);
    text-align: center;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.5;
    opacity: 1;
  }

  &-heading h2 {
    font-size: 3.2rem;
    line-height: 1.2;
    text-align: center;
    color: var(--features-heading2);
    font-weight: 700;
  }

  &-slider {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 1180px;
    margin: 0 auto;

    &-btns {
      text-align: center;

      & button {
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;

        & svg {
          transition: all 0.25s linear;
          fill: rgb(187, 199, 215);
        }

        &:hover svg {
          fill: var(--features-desc);
        }
      }
    }

    &-show {
      display: flex;
      align-items: center;
      transition: all 1s linear;
    }
    &-item {
      flex: 1 1 auto;
      position: relative;
      width: 393px;

      &-user {
        display: flex;
        align-items: center;
        margin-top: 33px;
      }
    }
  }
}

.wrapper-item {
  padding: 35px 30px 40px 40px;
  margin: 30px 20px 40px;
  box-shadow: rgb(38 78 118 / 35%) 0px 0px 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;

  &:hover {
    box-shadow: rgb(38 78 118 / 10%) 0px 6px 47px;
  }

  & h2 {
    margin-bottom: 22px;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--features-desc);
    line-height: 1.6;
  }

  & p {
    font-size: 1.6rem;
    line-height: 2;
    color: var(--features-desc);
  }
}

.user-img {
  width: 55px;
  height: 55px;
  margin-right: 20px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.user-info {
  & h2 {
    font-size: 1.6rem;
    margin: 0 0 3px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--features-desc);
  }

  & p {
    color: rgb(37, 160, 255);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
  }
}
